* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #06a95d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 0 15px;
    z-index: 1000;

    h1{
        color: #fff;
    }
}

/* BOTÃO ABRIR */
.btn-menu {
    background: transparent;
    border: none;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #1f1f1f;
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: left 0.3s ease;
    z-index: 3000;
    /* SIDEBAR NA FRENTE DO HEADER */
}

.sidebar.open {
    left: 0;
}

.btn-fechar {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    width: 90%;
}

/* Texto Menu */
.btn-fechar .btn-text {
    font-size: 17px;
    font-weight: bold;
}

/* X */
.btn-fechar .btn-x {
    font-size: 30px;
    line-height: 1;

}


.menu-categorias {
    display: block;
    margin-top: 20px;
}

.menu-categorias .category-btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    background-color: #06a95d;
    padding: 1vw;
    font-size: medium;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* CONTEÚDO */
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    width: 90vw;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 21px 5px rgba(0,0,0,0.56);
}

.card-img {
    display: none;
    justify-content: center;
}

.card-img img {
    width: 100%;
    border-radius: 8px;
}

.card-info {
    margin-top: 10px;
}

.card-info h3 {
    font-size: 18px;
}

.card-info p {
    margin: 10px 0 10px 0;
    font-weight: bold;
    color: #06a95d;
}