:root {
    --color-bg: #F7EDE2;
    --color-bg-card: #fff;
    --primary-color: #C82E12;
    --second-color: #F9D11F;
    --color-text: #000;
    --color-cta: #1adb4e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playwrite NZ Basic", cursive;
    font-weight: 300;
    background-color: var(--color-bg);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 0 15px;
    z-index: 1000;

    h1 {
        color: #fff;
        font-size: 6vw;
    }

    #cart {
        color: var(--second-color);
        font-size: 8vw;
        cursor: pointer;
    }

    #cartCount {
        position: relative;
        color: var(--color-bg);
        font-weight: bolder !important;
        font-size: 4vw;
    }

    .cart-count {
        display: flex;
        flex-direction: row-reverse;
    }
}

#cart_popup {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5000;
    background-color: var(--primary-color);

    .cart-box {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        padding: 3vw;
        width: 95%;
    }

    .cart-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3vw;
        color: var(--color-bg-card);

        button {
            background-color: var(--second-color);
            border: none;
            border-radius: 10%;
            padding: 1vw;
            width: 10%;
            font-size: 4vw;
            font-weight: bolder;
            color: var(--color-text);
            cursor: pointer;
        }
    }

    .cart-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2vw;
        border: none;
        border-radius: 1vw;
        background-color: var(--second-color);
        margin: 2vw 0;
        color: var(--color-text);
        font-weight: bold;


        .cart-qtd {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 15vw;
            margin: 1vw;

            button {
                padding: 1vw;
                border: none;
                border-radius: 50%;
                font-size: 4vw;
                cursor: pointer;
            }
        }

    }

    .material-symbols-outlined {
        color: var(--primary-color);
        cursor: pointer;
        font-size: 6vw;
    }

}

.cart-footer{
    position: absolute;
    bottom: 5vw;
    width: 90%;
    background-color: var(--second-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw;
    border: none;
    border-radius: 1vw;

    button{
        background-color: var(--color-cta);
        border: none;
        border-radius: 1vw;
        padding: 1vw;
        width: 30%;
        color: var(--color-bg-card);
        font-weight: bold;
        cursor: pointer;
    }

}




.btn-menu {
    background: transparent;
    border: none;
    font-size: 26px;
    color: var(--color-bg-card);
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: #1f1f1f;
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: left 0.3s ease;
    z-index: 3000;
}

.sidebar.open {
    left: 0;
}

.btn-fechar {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-bg);
    width: 90%;
}


.btn-fechar .btn-text {
    font-size: 17px;
    font-weight: bold;
}

.btn-fechar .btn-x {
    font-size: 30px;
    line-height: 1;

}

.menu-categorias {
    display: block;
    margin-top: 20px;
}

.menu-categorias .category-btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    background-color: var(--primary-color);
    padding: 1vw;
    font-size: medium;
    color: var(--second-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: var(--color-bg-card);
    width: 90vw;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.56);
}

.card-img {
    display: none;
    justify-content: center;
}

.card-img img {
    width: 100%;
    border-radius: 8px;
}

.card-info h3 {
    font-size: 18px;
    color: var(--primary-color);
}

.card-info {
    margin-top: 10px;
    color: var(--second-color);
    font-weight: bold;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.card-info p {
    margin: 10px 0 10px 0;
    font-weight: bold;
    color: var(--color-text);
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cta-btn {
    background-color: var(--color-cta);
    width: 20%;
    border: none;
    border-radius: 1vw;
    color: var(--color-bg-card);
    font-size: 3.5vw;
    padding: 0.5vw;
    cursor: pointer;
}