:root {
    --color-bg: #F7EDE2;
    --color-bg-card: #fff;
    --primary-color: #C82E12;
    --second-color: #F9D11F;
    --sidebar-color: #1f1f1f;
    --color-text: #000;
    --color-cta: #1adb4e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playwrite NZ Basic", cursive;
    font-weight: 300;
    background-color: var(--color-bg);
    user-select: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 0 15px;
    z-index: 1000;

    h1 {
        color: #fff;
        font-size: 25px;
        width: 70%;
        text-align: center;
    }

    #cart {
        color: var(--second-color);
        font-size: 200%;
        cursor: pointer;
    }

    #cartCount {
        position: relative;
        color: var(--color-bg);
        font-weight: bolder !important;
        font-size: 4vw;
        min-width: 10%;
    }

    .cart-count {
        min-width: 10%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

#cart_popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    background-color: var(--sidebar-color);

    .cart-box {
        display: flex;
        flex-direction: column;
        padding: 3vw;
        width: 100%;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: transparent;

        }
    }


    .cart-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 3vw;
        align-items: center;
        color: var(--color-bg-card);

        button {
            background-color: transparent;
            border: none;
            border-radius: 10%;
            padding: 1vw;
            width: 10%;
            font-size: 5vw;
            font-weight: bolder;
            color: var(--color-bg-card);
            font-weight: bold;
            cursor: pointer;
        }
    }

    .cart-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2vw;
        border: none;
        border-radius: 1vw;
        background-color: var(--primary-color);
        margin: 2vw 0;
        color: var(--color-bg-card);
        font-weight: bold;

        .cart-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            gap: 3vw;

            .nome_item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
            }
        }

        .cart-qtd {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 20vw;

            button {
                padding: 1vw;
                border: none;
                border-radius: 50%;
                font-size: 4vw;
                cursor: pointer;
            }
        }

    }

    textarea {
        border: none;
        border-radius: 1vw;
        padding: 1vw;
        width: 80%;
        outline: none;
    }

    .material-symbols-outlined {
        color: var(--color-bg-card);
        cursor: pointer;
        font-size: 6vw;
    }

}


.cart-footer {
    position: relative;
    margin-top: 2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    border: none;
    border-radius: 1vw;
    gap: 2vw;

    strong {
        /* background-color: var(--second-color); */
        padding: 1vw;
        color: var(--color-bg-card);
        border: none;
        border-radius: 1vw;
        font-weight: bold;
    }

    .finalizar-btn {
        background-color: var(--color-cta);
        border: none;
        border-radius: 1vw;
        padding: 1.5vw;
        width: 30%;
        color: var(--color-bg-card);
        font-weight: bold;
        cursor: pointer;
        text-align: center;
    }


}

#finish_container {
    background: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    padding: 2vw;
    gap: 1vw;
    border-radius: 8px;
    width: 90%;
    width: 400px
}


.send_zap_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    #send_zap_btn {
        background-color: var(--color-cta);
        padding: 1vw;
        border: none;
        border-radius: 1vw;
        font-size: 3vw;
        color: var(--color-bg-card);
        cursor: pointer;
        width: 40%;
    }

    #cancel_zap_btn {
        background-color: var(--primary-color);
        padding: 1vw;
        border: none;
        border-radius: 1vw;
        font-size: 3vw;
        color: var(--color-bg-card);
        cursor: pointer;
        width: 40%;
    }

}

#clienteNome {
    width: 100%;
    font-size: 3vw;
    padding: 1vw;
    outline: none;
    border: none;
    border-radius: 0.5vw;
}

.endereco_container {
    display: flex;
    flex-direction: column;
    gap: 3vw;

    #rua {
        width: 100%;
        font-size: 3vw;
        padding: 1vw;
        outline: none;
        border: none;
        border-radius: 0.5vw;

    }
}

.numero_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #numero {
        width: 20%;
        font-size: 3vw;
        padding: 1vw;
        outline: none;
        border: none;
        border-radius: 0.5vw;
    }

    #complemento {
        width: 75%;
        font-size: 3vw;
        padding: 1vw;
        outline: none;
        border: none;
        border-radius: 0.5vw;
    }

}

#bairro {
    width: 100%;
    font-size: 3vw;
    padding: 1vw;
    outline: none;
    border: none;
    border-radius: 0.5vw;
}



.btn-menu {
    background: transparent;
    border: none;
    font-size: 26px;
    color: var(--color-bg-card);
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background: var(--sidebar-color);
    padding: 80px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: left 0.3s ease;
    z-index: 3000;
}

.sidebar.open {
    left: 0;
}

.btn-fechar {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-bg);
    width: 90%;
}


.btn-fechar .btn-text {
    font-size: 17px;
    font-weight: bold;
}

.btn-fechar .btn-x {
    font-size: 30px;
    line-height: 1;

}

.menu-categorias {
    display: block;
    margin-top: 20px;
}

.menu-categorias .category-btn {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    background-color: var(--primary-color);
    padding: 1vw;
    font-size: medium;
    color: var(--second-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: var(--color-bg-card);
    width: 90vw;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 21px 5px rgba(0, 0, 0, 0.56);
}

.card-img {
    display: none;
    justify-content: center;
}

.card-img img {
    width: 100%;
    border-radius: 8px;
}

.card-info h3 {
    font-size: 18px;
    color: var(--primary-color);
}

.card-info {
    margin-top: 10px;
    color: var(--second-color);
    font-weight: bold;

    .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.card-info p {
    margin: 10px 0 10px 0;
    font-weight: bold;
    color: var(--color-text);
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cta-btn {
    background-color: var(--color-cta);
    width: 20%;
    border: none;
    border-radius: 1vw;
    color: var(--color-bg-card);
    font-size: 3.5vw;
    padding: 0.5vw;
    cursor: pointer;
}

/* ----------------------------------------------------------- */

@media (min-width: 1000px) {

    .content {
        display: wrap;
        align-items: center;
        padding-top: 70px;
    }

    #cart_popup {
        position: fixed;
        width: 40%;
        right: 0;
        padding: 0;
        background-color: var(--sidebar-color);

        .cart-box {
            display: flex;
            flex-direction: column;
            padding: 1vw;
            width: 100%;
            overflow: auto;
        }

        .cart-card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1vw;
            padding: 0.5vw;
            margin: 0.5vw;
            gap: 0.5vw;
            height: auto;

            .cart-card textarea {
                width: 100%;
                resize: none;
                min-height: 3vw;
                font-size: 0.8vw;
                margin-top: 0.5vw;
            }


            .cart-qtd {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                /* margin: 0.5vw; */
                /* gap: 1vw; */

                button {
                    font-size: 1.5vw;
                    width: 2vw;
                    text-align: center;
                    border-radius: 0%;
                    padding: 0;
                }
            }

        }

        .nome_item {
            width: 70% !important;
        }



        .finalizar-btn {
            border-radius: 0.5vw;
            padding: 1vw;
            width: 50%;
        }

        .material-symbols-outlined {
            font-size: 2vw;
            color: var(--color-bg-card);
        }

    }

    .cart-header {
        align-items: center;
        padding: 0;

        button {
            font-size: 2vw !important;
        }
    }


    #cartCount {
        font-size: 1vw !important;
    }

    .card {
        width: 30vw;

        .card-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }

    .cta-btn {
        width: 20%;
        border-radius: 0.5vw;
        font-size: 1vw;
    }

    #finish_container {
        width: auto;
        height: auto;

        #clienteNome,
        #rua,
        #numero,
        #complemento,
        #bairro {
            font-size: 1vw;
        }

        .endereco_container{
            gap: 1vw;
        }

        #send_zap_btn, #cancel_zap_btn {
            font-size: 1vw;
            border-radius: 0.5vw;
            cursor: pointer;
            width: 40%;
        }

    }


}